<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/navigation.ejs') %>
    <div className="App">
        
        <h1 className="Title"><%= pageTitle %></h1>  
            <form method="POST" action="/timeoff">
                <input type="date" name="startDate" />
                <input type="date" name="endDate" />
                <select name="hours">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="submit" value="Submit"/>
            </form>    
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>